. {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color:lavenderblush;
    color:black;
    padding: 20px;
}

.author-box img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}

